.text-area {
    -fx-padding: 20px;
    -fx-background-insets: 20px;
}
.text-area .content{
    -fx-padding: 20px;
}
.px14{
    -fx-font-size: 14px;
}

.px16{
    -fx-font-size: 16px;
}
.px18{
    -fx-font-size: 18px;
}